
{% extends 'base.html' %}

{% block content_home %}
<div class="container mt-5">
    <h2 style="text-align: center;">Search Results for "{{ search_query }}"</h2>
    {% if products %}
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ url_for('static', filename=( 'images/' ~ product.image )) }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">${{ "%.2f"|format(product.price) }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-sm btn-outline-secondary add-to-cart-btn" data-product-id="{{ product.id }}">Add to Cart</button>
                                {% if current_user.is_authenticated %}
                                    <button class="btn btn-sm btn-outline-secondary like-btn" data-product-id="{{ product.id }}">
                                        {% if product in current_user.favorites %}
                                            Unlike
                                        {% else %}
                                            Like
                                        {% endif %}
                                    </button>
                                {% else %}
                                    <a href="{{ url_for('login') }}" class="btn btn-sm btn-outline-secondary">Like</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No products found matching your search.</p>
    {% endif %}
</div>
{% endblock %}

<!-- {% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/category.js') }}"></script>
{% endblock %} -->
